body {
  background-color: var(--primary-util);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --app-height: 100%;
  --vampire: #222222;
  --highlight: #C2AD44;
  --primary-util: #F8F8FA;
  --secondary-util: #D9D9D9;
  --seafoam: #92A278;
  --theme-pop: #FF23BD;
 }

p {
  font-family: "degular-variable",sans-serif;
  font-variation-settings: 'ital' 0, 'opsz' 6, 'wght' 200;
}

h1 {
  font-family: "degular-variable",sans-serif;
  font-weight: 600;
  font-size: 3em;
}

h2 {
  font-family: "degular-variable",sans-serif;
  font-variation-settings: "ital" 0, "opsz" 6, "wght" 600;
}

h3 {
  font-family: "degular-variable",sans-serif;
}

h6 {
  font-family: "degular-variable",sans-serif;
}

p {
  font-size: 1.25em;
  text-justify: inter-word;
  text-align: justify;
}

li {
  font-family: "degular-variable",sans-serif;
}

 /* === ANIMATIONS === */
@keyframes menuHeight {
  from {
    height: 0px;
    opacity: 0%;
  }
  to {
    height: var(--app-height);
    opacity: 100%;
  }
}

@keyframes menuWidth {
  from {
    width: 78px;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes grow {
  from {
    opacity: 0%;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1.0);
  }
}

/* === FAILSPACE CSS === */
 
.absolute {
  position: absolute;
}

.left-0 {
  left: 100px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-btwn {
  justify-content: space-between;
}

.ai-flex-end {
  align-items: flex-end;
}

.ac-flex-end {
  align-content: flex-end;
}

.ai-flex-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.column-gap-10 {
  column-gap: 10px;
}

.row-gap-10 {
  row-gap: 10px;
}

.row-gap-50 {
  row-gap: 50px;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-50 > h2 {
  margin-bottom: 0;
}

.no-margin-bttm {
  margin-bottom: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.bg-black {
  background-color: var(--vampire);
  color: var(--primary-util);
}

.bg-secondary-util {
  background-color: var(--secondary-util);
}

.layout-grid {
  display: grid;
}

.rows-three {
  grid-template-rows: 1fr, 3fr, 1fr;
}

.columns-three {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
/* === NAVIGATION === */

.nav-wrapper {
  animation: menuHeight 600ms ease-in-out 0ms 1 forwards;
  background-color: var(--vampire);
  box-sizing: content-box;
  height: 0px;
  justify-content: space-between;
  margin-left: 20px;
  opacity: 0%;
  overflow: hidden;
  position: fixed;
  transition-duration: 200ms;
  width: calc(100vW / 7);
}

.nav-wrapper p {
  color: var(--primary-util);
  margin: 0px 0px 5px 0px;
}

.nav-wrapper h6 {
  font-size: 20px;
  margin: 0px;
  text-decoration: none;
}

.nav-wrapper a {
  color: var(--secondary-util);
  text-decoration: none;
  transition-duration: 300ms;
}

.nav-wrapper a:hover {
  color: var(--highlight);
  transition-duration: 300ms;
}

.section-wrapper {
  box-sizing: border-box;
  height: var(--app-height);
  margin-left: 20px;
  padding: 10px 10px 10px 30px;
  width: calc(100vW * 6 / 7 );
}

.min-section-height {
  min-height: 100vH;
}

.section-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.footer-wrapper p {
  color: var(--primary-util);
  margin: 0px 0px 5px 0px;
}

.bottom-nav-container > a {
  color: var(--maroon);
  transition-duration: 300ms;
}

.top-nav-container {
  padding: 10px;
}

.bottom-nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.social-icon {
  fill: var(--primary-util);
  height: 20px;
  margin-right: 5px;
  transition-duration: 300ms;
  max-width: 22px;
}

.cls-1 {
  fill: none;
  stroke-width: 3px;
}

.cls-1, .cls-2 {
  stroke: var(--primary-util);
  stroke-miterlimit: 10;
}

.cls-2 {
  fill: var(--primary-util);
}

#instagram {
  animation: fadeIn 300ms ease-in-out 600ms 1 forwards;
  opacity: 0%;
  transition-duration: 300ms;
}

#newsletter {
  animation: fadeIn 300ms ease-in-out 900ms 1 forwards;
  opacity: 0%;
  margin-bottom: 0px;
  transition-duration: 300ms;
}

/* === LANDING === */

.featured-project-info {
  box-sizing: border-box;
  padding-right: 20px;
}


/*** === COLLABORATOR VIEW ==== */

.collaborator-wrapper {
  box-sizing: border-box;
  height: var(--app-height);
  margin-left: 20px;
  padding: 0px 10px 0px 30px;
  width: calc(100vW * 6 / 7 );
}

.collaborator-info {
  padding: 0px 0px 0px 10px;
}

.profile-picture {
  height: 100%;
  object-fit: cover;
  width: 50%;
}

.tag {
  background-color: var(--secondary-util);
  border-radius: 20px;
  color: var(--vampire);
  padding: 5px 20px;
  transition-duration: 300ms;
}

.tag:hover {
  background-color: var(--theme-pop);
  cursor: pointer;
  color: var(--primary-util);
  transition-duration: 300ms;
}

.tag > p {
  margin: 0px;
}

.collaborator-column {
  border-left: 1px solid var(--seafoam);
  border-right: 1px solid var(--seafoam);
  padding-top: 30px;
}

.profile-picture-small {
  border-radius: 112px;
  height: 224px;
  object-fit: cover;
  width: 224px;
}

.padding-sm {
  padding: 10px;
}

/* === EVENTS === */
.events-wrapper {
  box-sizing: border-box;
  border-bottom: 1px solid var(--seafoam);
  height: calc(var(--app-height) / 2);
  margin-left: 20px;
  padding: 0px 10px 0px 30px;
  width: calc(100vW * 6 / 7 );
}

.event-info-wrapper {
  box-sizing: border-box;
  padding: 0px 10px 0px 20px;
  min-height: 50vH;
  width: calc(100vW * 6 / 7 );
}

.event-description {
  background-color: var(--seafoam);
  color: var(--primary-util);
  padding: 10px 10px 10px 20px;
}

.event-details {
  padding: 10px;
  color: var(--seafoam);
}


.event-details > a {
  color: var(--seafoam);
}

.event-border {
  border: 1px solid var(--seafoam);
  height: 224px;
  position: absolute;
  top: 29px;
  left: 0px;
  width: 100vW;
  z-index: -1;
}

.selected-event {
  background: #ffffff;
background: linear-gradient(45deg,rgba(255, 255, 255, 0) 70%, rgba(146, 162, 120, 1) 78%, rgba(146, 162, 120, 1) 100%);
}

/* === CONTACT === */

.contact-wrapper {
  background-color: var(--seafoam);
  color: var(--primary-util);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-height);
  margin-left: 30px;
  padding: 0px 10px 0px 30px;
  width: calc(100vW * 6 / 7 - 100px);
}

form {
  border: 2px solid var(--primary-util);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 500px;
  margin-right: 100px;
  padding: 20px;
  width: 500px;
}

input {
  background-color: var(--seafoam);
  border: none;
}


input::placeholder {
  color: var(--primary-util);
  font-family: "degular-variable",sans-serif;
  font-variation-settings: 'ital' 0, 'opsz' 6, 'wght' 200;
  font-size: 20px;
}

textarea {
  background-color: var(--seafoam);
  border: none;
}

textarea::placeholder {
  color: var(--primary-util);
  font-family: "degular-variable",sans-serif;
  font-variation-settings: 'ital' 0, 'opsz' 6, 'wght' 200;
  font-size: 20px;
}